_site
node_modules
.vscode
*.log
*.lock
*.sh
.DS_Store
.jekyll-cache
*/.DS_Store
*/*/.DS_Store

_posts/_draft
_posts/_archive
_posts/_ignore
_archive

_posts/work/_ignore
_posts/pap/_ignore
_posts/comp/_ignore
_posts/others/_ignore
